USE [master]
GO
/****** Object:  Database [Marketplace]    Script Date: 04.03.2026 21:10:56 ******/
CREATE DATABASE [Marketplace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Marketplace', FILENAME = N'C:\Users\Пользователь\Marketplace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Marketplace_log', FILENAME = N'C:\Users\Пользователь\Marketplace_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Marketplace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Marketplace]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NULL,
	[Patronymic] [nvarchar](100) NULL,
	[Email] [nvarchar](254) NOT NULL,
	[Phonenumber] [nvarchar](20) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Regdate] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserInfo]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[UserInfo] as
    select
        ID,
        [Login],
        [Name],
        Surname,
        Patronymic,
        Email,
        Phonenumber,
        Role, Regdate, is_active
    from [User]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nametag] [nvarchar](50) NOT NULL,
	[Subcategory] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ShopassistID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Entrydate] [datetime] NOT NULL,
	[Price] [float] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Addresspath] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHistory]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Prevstatus] [nvarchar](50) NOT NULL,
	[Nextstatus] [nvarchar](50) NOT NULL,
	[Moddeddate] [datetime] NOT NULL,
	[Commentary] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ShopassistID] [int] NOT NULL,
	[CategoryID] [int] NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Price] [float] NOT NULL,
	[Amount] [int] NOT NULL,
	[Entrydate] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Nametag], [Subcategory]) VALUES (1, N'Электроника', NULL)
INSERT [dbo].[Category] ([ID], [Nametag], [Subcategory]) VALUES (2, N'Одежда', NULL)
INSERT [dbo].[Category] ([ID], [Nametag], [Subcategory]) VALUES (3, N'Дом', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [CustomerID], [ShopassistID], [ProductID], [Entrydate], [Price], [Status], [Addresspath]) VALUES (0, 3, 2, 602, CAST(N'2024-02-14T00:00:00.000' AS DateTime), 68334.37, N'Confirmed', N'г. Новосибирск, ул. Пушкина, д. 96, кв. 109')
INSERT [dbo].[Order] ([ID], [CustomerID], [ShopassistID], [ProductID], [Entrydate], [Price], [Status], [Addresspath]) VALUES (1, 3, 2, 524, CAST(N'2024-01-12T00:00:00.000' AS DateTime), 3813.03, N'Pending', N'г. Санкт-Петербург, ул. Новая, д. 97, кв. 219')
INSERT [dbo].[Order] ([ID], [CustomerID], [ShopassistID], [ProductID], [Entrydate], [Price], [Status], [Addresspath]) VALUES (2, 3, 2, 613, CAST(N'2025-09-24T00:00:00.000' AS DateTime), 110213.22, N'Shipped', N'г. Новосибирск, ул. Ленина, д. 107, кв. 146')
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [ShopassistID], [CategoryID], [ProductName], [Description], [Price], [Amount], [Entrydate], [is_active]) VALUES (0, 2, 32, N'Поводок Flexi New Comfort Max 689', N'Прочный и надёжный поводок.', 55745.18, 437, CAST(N'2026-03-04T21:09:22.273' AS DateTime), 1)
INSERT [dbo].[Product] ([ID], [ShopassistID], [CategoryID], [ProductName], [Description], [Price], [Amount], [Entrydate], [is_active]) VALUES (1, 2, 40, N'Массажёр HoMedics Ultra 913', N'Профессиональное расслабление мышц.', 143993.03, 71, CAST(N'2026-03-04T21:09:22.273' AS DateTime), 1)
INSERT [dbo].[Product] ([ID], [ShopassistID], [CategoryID], [ProductName], [Description], [Price], [Amount], [Entrydate], [is_active]) VALUES (2, 2, 26, N'Гантели Domyos Air 471', N'Спортивный инвентарь для дома и зала.', 101891.75, 455, CAST(N'2026-03-04T21:09:22.273' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password], [Name], [Surname], [Patronymic], [Email], [Phonenumber], [Role], [Regdate], [is_active]) VALUES (1, N'admin', N'Admin@12345', N'Администратор', N'Системный', NULL, N'admin@market.ru', N'+70000000000', N'Admin', CAST(N'2026-03-04T21:07:39.233' AS DateTime), 1)
INSERT [dbo].[User] ([ID], [Login], [Password], [Name], [Surname], [Patronymic], [Email], [Phonenumber], [Role], [Regdate], [is_active]) VALUES (2, N'manager', N'Manager@12345', N'Менеджер', N'Тестовый', NULL, N'manager@market.ru', N'+71111111111', N'Manager', CAST(N'2026-03-04T21:07:39.233' AS DateTime), 1)
INSERT [dbo].[User] ([ID], [Login], [Password], [Name], [Surname], [Patronymic], [Email], [Phonenumber], [Role], [Regdate], [is_active]) VALUES (3, N'customer', N'User@12345', N'Пользователь', N'Тестовый', NULL, N'user@market.ru', N'+72222222222', N'User', CAST(N'2026-03-04T21:07:39.233' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [OC]    Script Date: 04.03.2026 21:10:57 ******/
CREATE NONCLUSTERED INDEX [OC] ON [dbo].[Order]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [OM]    Script Date: 04.03.2026 21:10:57 ******/
CREATE NONCLUSTERED INDEX [OM] ON [dbo].[Order]
(
	[ShopassistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [OP]    Script Date: 04.03.2026 21:10:57 ******/
CREATE NONCLUSTERED INDEX [OP] ON [dbo].[Order]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [OS]    Script Date: 04.03.2026 21:10:57 ******/
CREATE NONCLUSTERED INDEX [OS] ON [dbo].[Order]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [OHO]    Script Date: 04.03.2026 21:10:57 ******/
CREATE NONCLUSTERED INDEX [OHO] ON [dbo].[OrderHistory]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PC]    Script Date: 04.03.2026 21:10:57 ******/
CREATE NONCLUSTERED INDEX [PC] ON [dbo].[Product]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PM]    Script Date: 04.03.2026 21:10:57 ******/
CREATE NONCLUSTERED INDEX [PM] ON [dbo].[Product]
(
	[ShopassistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__5E55825BA25515DF]    Script Date: 04.03.2026 21:10:57 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534EB478592]    Script Date: 04.03.2026 21:10:57 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [Entrydate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[OrderHistory] ADD  DEFAULT (getdate()) FOR [Moddeddate]
GO
ALTER TABLE [dbo].[OrderHistory] ADD  DEFAULT ('') FOR [Commentary]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [Entrydate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [Regdate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD FOREIGN KEY([Subcategory])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([ShopassistID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[OrderHistory]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ShopassistID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([status]='AwaitingPayment' OR [status]='Returned' OR [status]='Cancelled' OR [status]='Delivered' OR [status]='Shipped' OR [status]='Confirmed' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  ((len([Password])>=(8)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([role]='Admin' OR [role]='Manager' OR [role]='User'))
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddCategory]
    @Nametag nvarchar(50)
as
    insert into Category (Nametag)
    values (@Nametag)
GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddProduct]
    @ShopassistID int,
    @CategoryID int,
    @ProductName nvarchar(200),
    @Description nvarchar(1000),
    @Price float,
    @Amount int
as
    insert into [Product] (ShopassistID, CategoryID, ProductName, [Description], Price, Amount)
    values (@ShopassistID, @CategoryID, @ProductName, @Description, @Price, @Amount)
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddUser]
    @Login nvarchar(50),
    @Password nvarchar(100),
    @Name nvarchar(100),
    @Surname nvarchar(100),
    @Patronymic nvarchar(100),
    @Email nvarchar(254),
    @Phone nvarchar(20),
    @Role nvarchar(20) = 'Пользователь'
as
    insert into [User] ([Login], [Password], [Name], Surname, Patronymic, Email, Phonenumber, Role)
    values (@Login, @Password, @Name, @Surname, @Patronymic, @Email, @Phone, @Role)
GO
/****** Object:  StoredProcedure [dbo].[AssignCategory]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AssignCategory]
    @ProductID int,
    @CategoryID int
as
    update [Product]
    set CategoryID = @CategoryID
    where ID = @ProductID
GO
/****** Object:  StoredProcedure [dbo].[CategoriesinSubcategories]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[CategoriesinSubcategories]
as
    select
        parent.Nametag as Категория,
        child.Nametag  as Подкатегория
    from Category parent
    left join Category child on child.Subcategory = parent.ID
    where parent.Subcategory is null
GO
/****** Object:  StoredProcedure [dbo].[ProductCountByCategory]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ProductCountByCategory]
as
    select
        c.Nametag as Category,
        count(p.ID) as ProductCount
    from Category c left join [Product] p on c.ID = p.CategoryID and p.is_active = 1
    group by c.ID, c.Nametag
    order by ProductCount desc
GO
/****** Object:  StoredProcedure [dbo].[ProductCountForTwoCategories]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ProductCountForTwoCategories]
    @Category1 nvarchar(50),
    @Category2 nvarchar(50)
as
    select c.Nametag as Category, count(p.ID) as ProductCount
    from Category c left join [Product] p on c.ID = p.CategoryID and p.is_active = 1
    where c.Nametag in (@Category1, @Category2)
    group by c.ID, c.Nametag
GO
/****** Object:  StoredProcedure [dbo].[ProductsByCategory]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ProductsByCategory]
    @Category nvarchar(50)
as
    select
        p.ID,
        p.ProductName,
        p.[Description],
        p.Price,
        p.Amount,
        c.Nametag as Category
    from [Product] p join Category c on p.CategoryID = c.ID
    where c.Nametag = @Category and p.is_active = 1
GO
/****** Object:  StoredProcedure [dbo].[ProductsPaged]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ProductsPaged]
    @Page int = 1,
    @PageSize int = 10
as
    select
        p.ID,
        p.ProductName,
        p.[Description],
        p.Price,
        p.Amount,
        c.Nametag as Category
    from [Product] p left join Category c on p.CategoryID = c.ID
    where p.is_active = 1
    order by p.ID
    OFFset (@Page - 1) * @PageSize rows
    fetch next @PageSize rows ONLY
GO
/****** Object:  StoredProcedure [dbo].[SearchProducts]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SearchProducts]
    @Name nvarchar(200) = null,
    @MinPrice float = null,
    @MaxPrice float = null
as
    select
        p.ID,
        p.ProductName,
        p.[Description],
        p.Price,
        p.Amount,
        c.Nametag as Category
    from [Product] p left join Category c ON p.CategoryID = c.ID
    where p.is_active = 1
      and (@Name is null or p.ProductName like '%' + @Name + '%')
      and (@MinPrice is null or p.Price >= @MinPrice)
      and (@MaxPrice is null or p.Price <= @MaxPrice)
GO
/****** Object:  StoredProcedure [dbo].[TopProducts]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[TopProducts]
as
    select TOP 10
        p.ID,
        p.ProductName,
        p.Price,
        c.Nametag as Category,
        count(o.ID) as SalesCount
    from [Product] p left join Category c on p.CategoryID = c.ID left join [Order] o on p.ID = o.ProductID
    group by p.ID, p.ProductName, p.Price, c.Nametag
    order by SalesCount desc
GO
/****** Object:  StoredProcedure [dbo].[TopUsers]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[TopUsers]
as
    select top 5
        u.ID,
        u.[Login],
        u.[Name],
        u.Surname,
        count(o.ID) as OrderCount
    from [User] u join [Order] o on u.ID = o.CustomerID
    group by u.ID, u.[Login], u.[Name], u.Surname
    order by OrderCount desc
GO
/****** Object:  StoredProcedure [dbo].[UserOrders]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UserOrders]
    @CustomerID int,
    @Datefrom datetime,
    @DateTo datetime
as
    select
        o.ID,
        o.Entrydate,
        o.Price,
        o.[Status],
        o.Addresspath,
        p.ProductName
    from [Order] o join [Product] p ON o.ProductID = p.ID
    where o.CustomerID = @CustomerID and o.Entrydate between @Datefrom and @DateTo
    order by o.Entrydate desc
GO
/****** Object:  StoredProcedure [dbo].[UsersWithOrderCount]    Script Date: 04.03.2026 21:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UsersWithOrderCount]
as
    select
        u.ID,
        u.[Login],
        u.[Name],
        u.Surname,
        u.Email,
        u.Role,
        count(o.ID) as OrderCount
    from [User] u
        left join [Order] o on u.ID = o.CustomerID
    group by u.ID, u.[Login], u.[Name], u.Surname, u.Email, u.Role
    order by OrderCount desc
GO
USE [master]
GO
